[Unit]
Description=VUART2 Console Server
ConditionPathExists=/etc/obmc-console/server.ttyVUART2.conf

[Service]
# Instance ID is the VUART basename
ExecStart=/usr/sbin/obmc-console-server --config /etc/obmc-console/server.ttyVUART2.conf ttyS1
SyslogIdentifier=VUART2-console-server
Restart=always

[Install]
WantedBy=multi-user.target

