[Unit]
Description=Hand Switch Position  Service
After=phosphor-button-handler.service xyz.openbmc_project.Chassis.Buttons.service hand_switch_position.service


[Service]
Type=oneshot
ExecStart=/usr/bin/env hand_switch_position_update.sh

[Install]
WantedBy=multi-user.target
