[Unit]
Description=Flash Host Bios image %I to Host

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/bios-update.sh host1 /tmp/images/%i
